body
{
    /* font-family: "lucida sans unicode", "lucida grande"; */
    font-weight: 400;
    background-color: #FFF;
}

div.main-view {
    margin-top: 90px;
    /*max-width: 700px;*/
    /*padding: 0, auto;*/
    position: relative;
    display: block;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,table,blockquote, div p
{
    margin-left: auto;
    margin-right:auto;

    max-width:700px;
}

h1 {
    /* font-family: "Tempus Sans ITC"; */

    color: #3873B3;
    border-bottom: 2px solid #C3D9FF
}

h2 {
    margin-top: 18px;
    margin-bottom: 18px;    
    color: #3873B3;
    font-size: 14pt;
    border-bottom: 1px solid #C3D9FF
}

h3 {
    font-size: 12pt;
    color: #2461AA;
}

p {
    /* font-family: "Tempus Sans ITC"; */
    word-wrap: break-word;
}

ul {
    padding-left: 40px;
    max-width: 660px;
}
